<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 MMDev Studio. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MMDev\ImportExport\Model\Source\ConfigInterface"
                type="MMDev\ImportExport\Model\Source\Config"/>

    <type name="Magento\ImportExport\Controller\Adminhtml\Import\Validate">
        <plugin name="mmdev_importexport_controller_import_validate"
                type="MMDev\ImportExport\Plugin\Controller\Adminhtml\Import\Validate"/>
    </type>
    <type name="Magento\CatalogImportExport\Model\Import\Product\Validator">
        <plugin name="mmdev_importexport_import_product_validator"
                type="MMDev\ImportExport\Plugin\Model\Import\Product\Validator"/>
    </type>
    <type name="Magento\ImportExport\Model\Import\Config\Converter">
        <plugin name="mmdev_importexport_config_converter"
                type="MMDev\ImportExport\Plugin\Model\Import\Config\Converter"/>
    </type>
    <type name="MMDev\ImportExport\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="MMDev\ImportExport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">importLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">MMDev\ImportExport\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>