<div class="verzenden-en-retour page-content">
    <div class="row">
        <div class="col-xs-12">
            <p>
                Lorem ipsum dolor sit amet, qui duis wisi philosophia ne. Causae invidunt an duo, cum vero vituperata
                te.
                Maiestatis philosophia id vix. Pri quod quodsi ne, mea alii tacimates id. Ea eam nostrud appetere,
                oratio apeirian laboramus pri in.
                His ad quaeque detraxit, nam labitur imperdiet liberavisse ex.
            </p>
            <p>
                At saepe ornatus nec, no usu tempor ornatus, cu nonumy animal vituperata vix.
                Purto aperiri aliquid ad nec, per an malis mediocrem consequat. Ludus utamur ei pro.
                Efficiendi reformidans ut pro, eu munere possit reprehendunt eos.
                Vis simul saperet hendrerit te. Mea ex hinc delicatissimi.
            </p>
            <p>
                Te lorem iusto ancillae usu, ne sed omnis conceptam eloquentiam, te has probo perpetua.
                Putent invenire mel an, accumsan mandamus eam eu. Maiorum interesset mel eu, an eum solum antiopam.
                Imperdiet complectitur te duo, fierent epicurei mea eu.
                Ne mea dolor fuisset consequuntur, amet aliquip senserit eum at.
            </p>
        </div>
    </div>
</div>